.git
.github
.vscode
.DS_Store

.deploy.env
.env
.env.local
*.db

.run
backend/.venv
backend/.pytest_cache
backend/**/__pycache__
backend/**/*.pyc

frontend/.next
frontend/node_modules
frontend/test-results

personal-agent-promo
